<<<<<<< HEAD
<h1>Add Task to <%= @project.name %></h1>
=======
<h2>Add a new Task</h2>
>>>>>>> Application CSS updated, CSS classes added to the views

<%= render 'form' %>

<%= link_to image_tag("prev.png", :border=>0, :class => 'icon'), project_path(@project) %>
