<h1>Editing resource</h1>

<%= render 'form' %>

<%= link_to image_tag("prev.png", :border=>0, :class => 'icon'), project_path(@project) %>|<%= link_to image_tag("show.png", :border=>0, :class => 'icon'), [@project,@resource] %> 

