/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap";
/*paragraph text for todo*/
#theader{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
bold: true;

}
 /* containers */
#container{
float: left;
	width: 1024px;
	padding: 0px 20px 0px 0px;
	overflow: hidden;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 10px;
	text-align: left;
}
#page-container{
float: center;
	width: 970px;
	padding: 0px 20px 0px 0px;
	overflow: hidden;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 10px;
	text-align: left;
}
#other-left{
	width: 460px;
	padding: 1px 1px 1px 1px;
	overflow: auto;
	margin-bottom: 20px;
	border: 2px solid #E7EBED;
	text-align: left;
	float: left;
	box-shadow: 0px 3px 6px #E7EBED;
}
#other-right{
	width: 460px;
	padding: 1px 1px 1px 1px;
	overflow: auto;
	margin-bottom: 40px;
	border: 2px solid #E7EBED;
	text-align: left;
	float: right;
	box-shadow: 0px 3px 6px #E7EBED;
}
#footer{
	width: 200px;
	padding: 1px 1px 1px 1px;
	overflow: auto;
	margin-bottom: 40px;
	border: 2px solid #E7EBED;
	text-align: left;
	float: left;
}
.icon{
width:25px;
height: 25px;
}
/*table*/
#hor-minimalist
{
	margin: 7px;
	width: 400px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist th
{
	font-weight: bold;
	padding: 0px 0px;
}
#hor-minimalist td
{
	padding: 0px 0px 0px 0px;
}
/*projects page table*/
#tab
{
	margin: 7px;
	width: auto;
	text-align: left;
}
#tab th
{
	font-weight: bold;
	padding: 1px 1px;
}
#tab td
{
	padding: 1px 15px 1px 1px;
}
/*todo table*/
#todo
{
	margin: 7px;
	border-collapse: collapse;
	text-align: left;
}
#todo th
{
	font-weight: bold;
	padding: 2px 2px;
}
#todo td
{
	padding: 2px 15px 2px 2px;
	text-align: left;
}